@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  font-family: 'Comfortaa', sans-serif;
}

.button {
  background-color: rgba(53, 56, 62, 0.1);
  font-size: 25px;
  font-weight: 500;
  padding: .5rem 1.3rem;

  border: none;
  outline: none;
  border-radius: 22px;
  transition: all ease-in-out .3s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.1);
  }
}

.input {
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding: .5rem 1.2rem;
  border-bottom: 1px solid rgb(44, 44, 44);

  background-color: transparent;
}
